<%= form_for @dish do |f| %>
  
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :image_url %>
    <%= f.text_field :image_url%>
  </p>

  <button>create</button>

<% end %>